*{
    margin :0;
    padding : 0;
    box-sizing : boder-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}
:root{
    --primary-color:#fff;
    --nav-color: #0d7b6a;
    --heading-color:#fff;
    --icon-bg-color :#095e51;
    --icon-color :#063a3a;
    --scroll-bar :#03453a;
    --text-color :#046f5d ;
    --hover-color : #034136;
    --note-scroll-bar : #078a74;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #097563;
    --popup-button-color : #097563;
    --popup-button-hover-color : #064b40;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.dark-theme{
    --primary-color:#000;
    --nav-color: #171717;
    --heading-color:#fff;
    --icon-bg-color :#3e3f3f;
    --icon-color :#eaeaea;
    --scroll-bar :#171717;
    --text-color :#fff ;
    --hover-color : #e4dfdf;
    --note-scroll-bar : #9d9898;
    --note-bg-color : #171717;
    --note-text-color : #fff;
    --popup-bg-color : #1f201f;
    --popup-text-color : #fff;
    --popup-button-color : #000000;
    --popup-button-hover-color : #000;
    --pop-input-bg: #1f201f;
    --popup-input-text:#fff ;
}

.yellow-theme{
    --primary-color:#fff;
    --nav-color: #d6900c;
    --heading-color:#fff;
    --icon-bg-color :#eeaa2b;
    --icon-color :#fba300;
    --scroll-bar :#d6900c;
    --text-color :#e9a82f ;
    --hover-color : #c98404;
    --note-scroll-bar : #d09323;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #cc8d18;
    --popup-button-color : #e19c1c;
    --popup-button-hover-color : #c98404;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.pink-theme{
    --primary-color:#fff;
    --nav-color: #e42a68;
    --heading-color:#fff;
    --icon-bg-color :#bf3160;
    --icon-color :#b90f48;
    --scroll-bar :#d81e5c;
    --text-color :#b92557 ;
    --hover-color : #a00f40;
    --note-scroll-bar : #c91e57;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #ae0d43;
    --popup-button-color : #bc2255;
    --popup-button-hover-color : #a00f40;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.green-theme{
    --primary-color:#fff;
    --nav-color: #6cbf19;
    --heading-color:#fff;
    --icon-bg-color :#6ca732;
    --icon-color :#4b8d08;
    --scroll-bar :#6cbf19;
    --text-color :#6dc219 ;
    --hover-color : #4b8d08;
    --note-scroll-bar : #68b41c;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #61b60b;
    --popup-button-color : #6cbd1b;
    --popup-button-hover-color : #4b8d08;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.red-theme{
    --primary-color:#fff;
    --nav-color: #de1616;
    --heading-color:#fff;
    --icon-bg-color :#c43939;
    --icon-color :#b80505;
    --scroll-bar :#de1616;
    --text-color :#e02727 ;
    --hover-color : #b80505;
    --note-scroll-bar : #ba2727;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #e91010;
    --popup-button-color : #ca1d1d;
    --popup-button-hover-color : #b80505;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.orange-theme{
    --primary-color:#fff;
    --nav-color: #dc4227;
    --heading-color:#fff;
    --icon-bg-color :#e05941;
    --icon-color :#c92e13;
    --scroll-bar :#dc4227;
    --text-color :#db3518 ;
    --hover-color : #dd2c0d;
    --note-scroll-bar : #d93e23;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #f52e0b;
    --popup-button-color : #f13211;
    --popup-button-hover-color : #f43c1b;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

.violet-theme{
    --primary-color:#fff;
    --nav-color: #930b8f;
    --heading-color:#fff;
    --icon-bg-color :#953392;
    --icon-color :#71066e;
    --scroll-bar :#930b8f;
    --text-color :#a3109e ;
    --hover-color : #6e056a;
    --note-scroll-bar : #990f95;
    --note-bg-color : #fff;
    --note-text-color : #000;
    --popup-bg-color : #fff;
    --popup-text-color : #90078b;
    --popup-button-color : #990f95;
    --popup-button-hover-color : #7e087a;
    --pop-input-bg: #fff;
    --popup-input-text:#000 ;
}

body{
    background-color: var(--primary-color);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color:var(--scroll-bar) ;
}


nav{
    display: flex;
    background-color: var(--nav-color);
}
nav div{
    margin: 0px 50px;
    color: var(--icon-color);
}
nav div i{
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
    
}
#icon_color {
    animation: App-logo-spin infinite 5s linear;
  }
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
nav h1{
    flex-grow: 3;
    font-size: 36px;
    text-align: center;
    color: var(--heading-color);
    padding: 15px 0;
    font-weight: 400;
    
}

.icon .menu{
    position: relative;
    top:0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2px;
    display: none;
    left: 10px;
    background-color: var(--icon-bg-color);
}
.icon .menu.show{
    display: grid;
}
.menu li{
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
}

.wrapper{
    gap: 20px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    justify-content: space-around;
}
@media screen and (max-width:350px) {
    .wrapper{
        grid-template-columns: repeat(auto-fill, 200px);
       
    }
}
.wrapper li{
    height: 250px;
    border: 2px solid var(--nav-color);
    background-color: var(--note-bg-color);
    border-top-width: 8px;
    border-radius: 15px;
    padding: 15px 20px 20px;
}
.add-box, .icon, .bottom-content,.settings .menu li,.content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box{
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.add-box .icon{
    border: 2px dashed var(--text-color);
    border-radius: 50%;
    height: 80px;
    justify-content: center;
    width: 80px;
    font-size: 40px;
    font-weight: 100;
    color: var(--text-color);
}
.add-box .icon:hover{
    border-color:var(--hover-color);
    color: var(--hover-color);
}

.add-box p{
    color: var(--text-color);
    font-weight: 500;
    margin-top: 20px;
}
.add-box p:hover{
    color: var(--hover-color);
}
.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note .details{
    max-height: 190px;
    overflow-y: auto;
    color: var(--note-text-color);
}
.note .details::-webkit-scrollbar{
    width: 6px;
}
.note .details::-webkit-scrollbar-thumb{
    background: var(--note-scroll-bar) ;
    border-radius: 6px;
}
.note .details::-webkit-scrollbar-thumb:hover{
    background: var(--hover-color) ;
}
.note p{
    font-size: 22px;
    font-weight: 500;
}
.note span{
    text-align: justify;
    display: block;
    color: #4b4949;
    font-size: 16px;
    margin-top: 10px;
}

.note .bottom-content{
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.bottom-content span{
    color: #5f5e5e;
    font-size: 14px;
}
.bottom-content .settings i{
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;
}
.settings{
    position: relative;
}
.settings .menu{
    border-radius: 4px;
    position: absolute;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    bottom: 0;
    padding: 5px 0;
    right: -5px;
    transform: scale(0);
    transform-origin: bottom right;
    background-color: #fff;
    transition: transform 0.2s ease;
}
.settings.show .menu{
    transform: scale(1);
}
.settings .menu li{
    height: 15px;
    width: auto;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    padding: 10px 15px;
    justify-content: flex-start;
}
.menu li:hover{
    background-color: #e9e9e9;
}
.menu li i{
    padding-right: 8px;
}
.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    transform: translate(-50%, -50%);
}
.popup .content{
    background-color: var(--popup-bg-color);
    border-radius: 8px;
}
.popup .content header{
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
}
.content header p{
    font-size: 20px;
    font-weight: 500;
    color: var(--popup-text-color);
}
.content header i{
    color: var(--popup-text-color);
    cursor: pointer;
    font-size: 23px;
}
.content form{
    margin: 15px 25px 35px;
}
.content form .row{
    margin-bottom: 20px;
}
.row .con-row{
    display:flex;
    border: 1px solid #999;
    border-radius: 4px;
}
.row .con-row i{
    cursor:pointer;
    padding:30px 10px 5px 10px;
}
.description .con-row i{
    padding-top:150px;
}
form .row label{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.content form #inputText, #text{
    width: 90%;
    border:none;
    background-color: var(--pop-input-bg);
    outline: none;
    height: 50px;
    padding: 0 15px;
    font-size: 17px;
    resize: none;
    caret-color: var(--popup-text-color);
    color: var(--popup-input-text);
    font-weight: 500;
}
.content form #text{
    height: 150px;
    padding: 8px 15px;
}
.content form button{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: var(--popup-button-color);
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    outline: none;
    border: none;
}
.content form button:hover{
    background-color: var(--popup-button-hover-color);
}
.popup-box, .popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}


#preloader{
    background: #fff url(./Image/loader.gif) no-repeat center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.listen{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.listen img{
    width: 100px;
    height: 40px;
}
.listen p{
    color: red;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}